* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffb6c1, #ffd6e8);
  overflow: hidden;
}

body.dark {
  background: linear-gradient(135deg, #2b2b2b, #1e1e1e);
}

.box {
  background: white;
  padding: 45px;
  border-radius: 25px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.25);
  position: relative;
  z-index: 2;
}

.final-box {
  padding-top: 35px;
}

/* TEXT */
.big-text {
  font-size: 30px;
  color: #ff4d6d;
}

.cute-text {
  font-size: 20px;
  color: #555;
}

/* PIG */
.pig {
  font-size: 80px;
  margin-bottom: 10px;
}

.bounce {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

/* BUTTONS */
button {
  padding: 16px 34px;
  font-size: 22px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.big-btn {
  font-size: 22px;
}

.info-btn {
  background: #ff4d6d;
  color: white;
  margin-top: 20px;
}

.buttons {
  position: relative;
  height: 110px;
  margin-top: 35px;
}

#yes {
  background: #ff4d6d;
  color: white;
}


#no {
  background: #adb5bd;
  color: rgb(215, 33, 33);
  position: absolute;
  left: 190px;
  top: 0;
}

/* FLOATING HEARTS */
.heart {
  position: fixed;
  bottom: -30px;
  font-size: 24px;
  animation: float 5s linear infinite;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh);
    opacity: 0;
  }
}

.typing {
  min-height: 90px;
  white-space: normal;     /* allows wrapping */
  word-wrap: break-word;  /* prevents cutoff */
  border-right: 3px solid #ff4d6d;
  animation: blink 0.8s infinite;
}


@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.love-btn {
  margin-top: 20px;
  padding: 16px 36px;
  font-size: 22px;
  border: none;
  border-radius: 40px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  transition: transform 0.2s ease;
}

.love-btn:hover {
  transform: scale(1.05);
}

.love-message {
  margin-top: 20px;
  font-size: 22px;
  color: #ff4d6d;
  font-weight: bold;
}

.love-btn:disabled {
  background: #ff99aa;
  cursor: not-allowed;
  transform: scale(1);
  opacity: 0.8;
}

.click-hint {
  font-size: 16px;
  color: #ff4d6d;
  margin-top: -10px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite;
}

/* Popup rectangle */
.pig-popup {
  position: absolute;
  background: #ff4d6d;
  color: white;
  padding: 10px 10px;
  border-radius: 0px;
  font-size: 15px;
  width: 400px;
  max-width: 90vw;
  line-height: 1.5;
  white-space: pre-line; /* preserves line breaks */
  display: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 10;
  overflow-wrap: break-word;
}

